<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{{ url_for('static', filename= 'style.css') }}" rel="stylesheet">
		<meta charset="UTF-8">
		<title>Edit Recipe</title>
	</head>
	<body>
		<header class="header">
			<div id="header-box">
				<a href="{{url_for('showOrigins')}}"><h1 id="title">Recipes Catalog</h1></a>

				<div id="loggedin-box">
					<img src="{{ login_session['picture'] }}" id="login_pic" ><div id="loggedin-text">{{ login_session['username'] }}<a href="{{url_for('gdisconnect')}}"> &nbsp;<button id="logout">Logout</button></a></div>
				</div>
				


			</div>
		</header>
		<main class="main">
			<section id="section1">
				<h2 id="category-title">Edit a Recipe</h2><br>
				
			<form action="{{url_for('editRecipe',recipe_id = recipe.id, origin_id= origin_id)}}" method = "post">
				
					<label for="name">New Name:</label>
					<input type ="text" name="name" value="{{recipe.name}}"><br><br><br>

					<label for="description">Description:</label><br><br>
					<textarea maxlength="250" rows="6" cols="50" name="description">{{ recipe.description }}</textarea>
					<br><br>
					<button id="submit" type="submit"><span></span>Save</button>
					<a href ="{{url_for('showRecipes', origin_id= origin_id)}}"><button><span></span> Cancel</button></a>
			</form>
		
			</section>
		</main>

		<div id="notifier">
			<div id="notifier-box">Notification Center : 
				{% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}


				<span style="margin-left: 15px;">{{ message }}</span>
        
        {% endfor %}
        {% endif %}
        {% endwith %}
			</div>
		</div>
		


	</body>
</html>