<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{{ url_for('static', filename= 'style.css') }}" rel="stylesheet">
		<meta charset="UTF-8">
		<title>Welcome!</title>
	</head>
	<body>
		<header class="header">
			<div id="header-box">
				<a href="{{url_for('showOrigins')}}"><h1 id="title">Recipes Catalog</h1></a>

				<div id="loggedin-box">
					<img src="{{ login_session['picture'] }}" id="login_pic" ><div id="loggedin-text">{{ login_session['username'] }}<a href="{{url_for('gdisconnect')}}"> &nbsp;<button id="logout">Logout</button></a></div>
				</div>
					
				


			</div>
		</header>
		<main class="main">
			<section id="section1">
				<h2 id="category-title">Recipe Origins </h2>
				<a href="{{url_for('newOrigin')}}">
				<div id="add"><img id="add-pic" src="{{url_for('static', filename= 'Plus.png')}}"> Add Origin</div></a><br>
				{% if origins != [] %}{{ "<ul>"|safe}}{% else %}{{ "<span id='empty'>Sorry no Recipe Origins are registered.</span>"|safe }}{% endif %}
				{% for i in origins %}
				<a href = "{{url_for('showRecipes', origin_id = i.id)}}">
			
				
					<div >
						{% if i.user_id == login_session['user_id'] %}
						<li>{{ i.name }}
							<span id="options">
						<a href="{{url_for('editOrigin',origin_id= i.id)}}"><button>Edit</button></a>
						<a href="{{url_for('deleteOrigin',origin_id= i.id)}}"><button>Delete</button></a>
					</span>
						 </li>
						{% else %}
						<li>{{ i.name }}</li>
						{% endif %}
					</div>
				
			
				</a>

				{% endfor %}
				{% if origins != [] %}{{ "</ul>"|safe}}{% endif %}

				

			</section>
		</main>

		<div id="notifier">
			<div id="notifier-box">Notification Center : 
				{% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}


				<span style="margin-left: 15px;">{{ message }}</span>
        
        {% endfor %}
        {% endif %}
        {% endwith %}
			</div>
		</div>
		


	</body>
</html>